@model Oblig1.Models.User
@{
    ViewBag.Title = "Minside";
}
<br />
<br />
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Kontoinformasjon</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Ordrehistorikk</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home">
        <br />
        <br />
        <div class="row">
            <div class="col-md-1">Navn:</div>
            <div class="col-md-4">Placeholder Holdersen</div>
        </div>
        <div class="row">
            <div class="col-md-1">E-post:</div>
            <div class="col-md-6">placeholder@place.hoe</div>
        </div>
        <div class="row">
            <div class="col-md-1">Gatenavn:</div>
            <div class="col-md-4">Placeholder gata 4</div>
        </div>
        <div class="row">
            <div class="col-md-1">Poststed:</div>
            <div class="col-md-4">Place</div>
        </div>
        <div class="row">
            <div class="col-md-1">Postnummer:</div>
            <div class="col-md-6">0000</div>
        </div>
        <div class="row">
            <div class="col-md-1">Telefon:</div>
            <div class="col-md-6">000 00 000</div>
        </div>
    </div>
    <div class="tab-pane" id="profile">Ordrehistorikk</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div>